.log-out {
    color: white;
    margin-right: 50px;
}

.log-out:hover {
    color: white;
}

.log-in {
    color: white;
    margin-right: 50px;
}

.log-in:hover {
    color: white;
}

.nav-links {
    margin-left: 575px;
}

.lounge-logo {
    margin-left: 30px;
}