@import "../css/home.css";
@import "../css/playerstats.css";
@import "../css/hub.css";
@import '../css/login.css';
@import '../css/register.css';
@import '../css/navigation.css';
@import '../css/edit-profile.css';
@import '../css/edit-post.css';

.card {
    margin-top: 1rem;
}

.post-card {
    margin-top: 20px;
    background-color: #9a907c;
    padding: 5px;
    border-radius: 25px;
    height: 575px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn-edit-post {
    margin-top: 20px;
    background-color: #333b4b !important;
}

.post-image {
    height: 400px;
}
